In [1]:
import riskfolio.Reports as rp
import pickle
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_pickle('./data/processed/investors_m.pkl')

In [7]:
df

  userid      name      acc_no  profile_code  principal
0   A001  안정추구형소규모  8110739301             2     700000
1   A002  안정추구형중규모  8110740601             3    1000000
2   A003  안정추구형대규모  8110740701             4    1300000
3   A004  위험중립형소규모  8110741001             2     700000
4   A005  위험중립형중규모  8110741601             3    1000000
5   A006  위험중립형대규모  8110741701             4    1300000
6   A007  적극투자형소규모  8110742001             2     700000
7   A008  적극투자형중규모  8110742201             3    1000000
8   A009  적극투자형대규모  8110743301             4    1300000

In [6]:
df['principal'].values.astype(float)

array([ 700000., 1000000., 1300000.,  700000., 1000000., 1300000.,
        700000., 1000000., 1300000.])

- Biz days

In [2]:
# biz days
# dates = pd.bdate_range('2021-01-01', '2021-03-19', freq='B').strftime('%Y-%m-%d').to_list()

- Weekends

In [3]:
# # create a dataframe of dates
# df = pd.DataFrame({'Dates': pd.date_range("2020-01-01", "2021-03-19")})

# # create a series of business days
# busines_dates = pd.bdate_range("2020-01-01", "2021-03-19")

# # find where the two do not intersect
# dates = df.loc[~df['Dates'].isin(busines_dates)].Dates.dt.strftime('%Y-%m-%d').to_list()

In [4]:
# dates = ['2019-12-31', '2020-01-31', '2020-02-28', '2020-03-31', '2020-04-30',
#         '2020-05-29', '2020-06-30',  '2020-07-31',  '2020-08-31', '2020-09-30',
#         '2020-10-30',  '2020-11-30', '2020-12-31', '2021-01-29','2021-02-26']
# # dates = ['2019-12-31']

In [5]:
df_dt = pd.DataFrame({'Dates': pd.date_range("2021-04-28", "2021-04-30")})
dates = df_dt.Dates.dt.strftime('%Y-%m-%d').to_list()

In [ ]:
for dt in dates:
    for risk_profile in [2,3,4]:
        with open('./reports/returns-{}_{}.pkl'.format(risk_profile, dt), 'rb') as f:
            returns = pickle.load(f)
        with open('./reports/w-{}_{}.pkl'.format(risk_profile, dt), 'rb') as f:
            w = pickle.load(f)

        ax = rp.jupyter_report(returns, w, rm='CDaR', rf=0, alpha=0.05, height=6, width=14,
                           others=0.05, nrow=25)

        ax[0].figure.savefig('./reports/figures/report-{}_{}.png'.format(risk_profile, dt));