In [5]:
import pandas as pd

In [15]:
advised_pf = pd.read_pickle('./data/processed/advised_portfolios.pkl')

In [18]:
print(advised_pf.columns)

Index(['date', 'risk_profile', 'itemcode', 'weights', 'tracking_code',
       'itemname', 'price', 'volume', 'trading_amt_mln', 'asset_class'],
      dtype='object')

In [13]:
current_date='2020-2-1'

In [14]:
advised_pf.date

0      2020-02-03
1      2020-02-03
2      2020-02-03
3      2020-02-03
4      2020-02-03
          ...
456    2020-02-28
457    2020-02-28
458    2020-02-28
459    2020-02-28
460    2020-02-28
Name: date, Length: 461, dtype: object

In [10]:
pd.read_pickle('./data/processed/universe.pkl')

,itemcode,itemname,price,nav,volumne_sh,trading_amt_mln,market_cap_100m,exchange_nm,market,asset_class,instruments,exposure,dc_risky_asset
0,C000001,현금,1,1.0,NaN,NaN,NaN,NaN,Domestic,Cash,Cash,Cash,1.0
1,D000001,예금,1,1.0,NaN,NaN,NaN,NaN,Domestic,Cash,Deposit,Deposit,1.0
2,A069500,KODEX 200,42095,42105.0,5426223.0,228445.0,51545.00,KRX,Domestic,Equity,ETF,Large,0.7
3,A277630,TIGER 코스피,31060,31050.0,4776.0,148.0,637.00,KRX,Domestic,Equity,ETF,Broad,0.7
4,A292160,TIGER KRX300,19250,19270.0,60658.0,1163.0,327.00,KRX,Domestic,Equity,ETF,Large,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,A130730,KOSEF 단기자금,100970,100968.0,211753.0,21380.0,486.00,KRX,Domestic,Fixed Income,ETF,Money,1.0
95,A122260,KOSEF 통안채1년,101170,101173.0,193096.0,19536.0,475.00,KRX,Domestic,Fixed Income,ETF,ShortD,1.0
96,A329750,TIGER 미국달러단기채권액티브,9645,NaN,78822.0,760.0,378.00,KRX,USA,Alternative,ETF,Money,1.0
97,A196230,KBSTAR 단기통안채,104325,104325.0,388477.0,40527.0,1847.00,KRX,Domestic,Fixed Income,ETF,Money,1.0
98,A329650,KODEX TRF3070,10980,NaN,37484.0,411.0,239.21,KRX,Domestic,Alternative,ETF,Balanced,1.0

In [12]:
['a','b'] + ['c']

['a', 'b', 'c']

In [ ]:
def get_advised_portfolios