In [28]:
import numpy as np
import pandas as pd

In [3]:
userid = 'A50'
current_date='2020-02-01'
new_units = {'A122260': 2, 'A114260': 4, 'A130730': 2, 'A329650': 13, 'A266370': 4}
prices = {'A122260': [101185.0, 'KRW'], 'A114260': [57900.0, 'KRW'], 'A130730': [100975.0, 'KRW'], 'A329650': [10980.0, 'KRW'], 'A266370': [21325.0, 'KRW']}
cash = 136000

In [4]:
pf = pd.read_pickle('./data/processed/advised_portfolios.pkl')

In [17]:
pf.loc[pf.date=='2021-02-01']

,date,risk_profile,itemcode,weights,tracking_code,itemname,price,volume,trading_amt_mln,asset_class
2146,2021-02-01,2,A122260,0.25,BOK_D1,KOSEF 통안채1년,101090.0,1442.0,60489.601355,Fixed Income
2147,2021-02-01,2,A114260,0.25,KTB_D3,KODEX 국고채3년,58100.0,7137.0,648.435560,Fixed Income
2148,2021-02-01,2,A130730,0.25,MM,KOSEF 단기자금,100890.0,1013585.0,60055.857207,Fixed Income
2149,2021-02-01,2,A329650,0.15,BAL_WO3KTB7,KODEX TRF3070,10800.0,46496.0,145.070457,Alternative
2150,2021-02-01,2,A266370,0.10,IT,KODEX IT,21660.0,39720.0,932.530887,Equity
2151,2021-02-01,3,A130730,0.25,MM,KOSEF 단기자금,100890.0,1013585.0,60055.857207,Fixed Income
2152,2021-02-01,3,A122260,0.25,BOK_D1,KOSEF 통안채1년,101090.0,1442.0,60489.601355,Fixed Income
2153,2021-02-01,3,A114260,0.25,KTB_D3,KODEX 국고채3년,58100.0,7137.0,648.435560,Fixed Income
2154,2021-02-01,3,A329650,0.10,BAL_WO3KTB7,KODEX TRF3070,10800.0,46496.0,145.070457,Alternative
2155,2021-02-01,3,A153130,0.10,MM,KODEX 단기채권,102675.0,25113.0,2656.812189,Fixed Income
2156,2021-02-01,3,A102110,0.05,K200,TIGER 200,41965.0,1765811.0,79351.078541,Equity
2157,2021-02-01,4,A157490,0.25,SW,TIGER 소프트웨어,16175.0,101994.0,1738.359228,Equity
2158,2021-02-01,4,A139260,0.25,K200_IT,TIGER 200 IT,39970.0,510347.0,23627.935439,Equity
2159,2021-02-01,4,A266370,0.25,IT,KODEX IT,21660.0,39720.0,932.530887,Equity
2160,2021-02-01,4,A091160,0.20,SEMI_KRX,KODEX 반도체,35545.0,285319.0,4612.140013,Equity
2161,2021-02-01,4,A278540,0.05,MSCI_KR,KODEX MSCI Korea TR,13645.0,365536.0,15383.999563,Equity

In [22]:
from src.models.load_data import Singleton, Balance, Instruments, PriceDB, SimulatableInstruments, Constraints, AdvisedPortfolios

In [25]:
df_constraints = Constraints.instance().data

In [26]:
df_constraints

,risk_profile,Disabled,Type,Set,Position,Sign,Weight,Type Relative,Relative Set,Relative,Factor
0,2,False,Classes,Asset class,Equity,>=,0.10,NaN,NaN,NaN,NaN
1,2,False,Classes,Asset class,Equity,<=,0.25,NaN,NaN,NaN,NaN
2,2,False,Assets,NaN,A114260,>=,0.10,NaN,NaN,NaN,NaN
3,2,False,Classes,Asset class,Alternative,<=,0.25,NaN,NaN,NaN,NaN
4,3,False,Classes,Asset class,Equity,>=,0.40,NaN,NaN,NaN,NaN
5,3,False,Classes,Asset class,Equity,<=,0.60,NaN,NaN,NaN,NaN
6,3,False,Classes,Asset class,Fixed Income,<=,0.70,NaN,NaN,NaN,NaN
7,3,False,Classes,Asset class,Alternative,<=,0.25,NaN,NaN,NaN,NaN
8,4,False,Classes,Asset class,Equity,>=,0.50,NaN,NaN,NaN,NaN
9,4,False,Classes,Asset class,Equity,<=,0.70,NaN,NaN,NaN,NaN
10,4,False,Classes,Asset class,Fixed Income,<=,0.50,NaN,NaN,NaN,NaN
11,4,False,Classes,Asset class,Alternative,<=,0.25,NaN,NaN,NaN,NaN
12,2,False,Classes,Strategy,Satellite,<=,NaN,Classes,Strategy,Core,0.0
13,3,False,Classes,Strategy,Core,>=,NaN,Classes,Strategy,Satellite,4.0
14,4,False,Classes,Strategy,Core,>=,NaN,Classes,Strategy,Satellite,1.5
15,Common,False,All Assets,NaN,NaN,<=,0.25,NaN,NaN,NaN,NaN
16,Common,False,Classes,DC risky asset,Y,<=,0.70,NaN,NaN,NaN,NaN

In [29]:
constraints = df_constraints[np.logical_or(
    df_constraints.risk_profile == str(3), df_constraints.risk_profile == 'Common')].drop(['risk_profile'], axis=1)

In [30]:
constraints

,Disabled,Type,Set,Position,Sign,Weight,Type Relative,Relative Set,Relative,Factor
4,False,Classes,Asset class,Equity,>=,0.40,NaN,NaN,NaN,NaN
5,False,Classes,Asset class,Equity,<=,0.60,NaN,NaN,NaN,NaN
6,False,Classes,Asset class,Fixed Income,<=,0.70,NaN,NaN,NaN,NaN
7,False,Classes,Asset class,Alternative,<=,0.25,NaN,NaN,NaN,NaN
13,False,Classes,Strategy,Core,>=,NaN,Classes,Strategy,Satellite,4.0
15,False,All Assets,NaN,NaN,<=,0.25,NaN,NaN,NaN,NaN
16,False,Classes,DC risky asset,Y,<=,0.70,NaN,NaN,NaN,NaN