In [5]:
import pandas as pd

In [6]:
s = pd.read_pickle('./data/external/simulatable_instruments.pkl')

In [7]:
s

   itemcode   price    volume  trading_amt_mln instruments
0   A069500   41870  10363864    450745.579929         ETF
1   A105190   42090    298303     17458.762105         ETF
2   A102110   41680   1024274     66844.032313         ETF
3   A232080   14065    325605     10167.063267         ETF
4   A278540   13455    340637      7333.746462         ETF
5   A229200   14025   3158681     84901.170569         ETF
6   A196230  104320    795740     69645.756634         ETF
7   A130730  100975    910079     56617.558903         ETF
8   A122260  101175     79699     44600.656765         ETF
9   A139260   39010    290847     34582.868955         ETF
10  A251350   17065    544490      3840.856649         ETF
11  A091160   35580    207288      9032.274643         ETF
12  A091180   23380    250684     21763.462750         ETF
13  A091170    6610   1324945      4735.783797         ETF
14  A283580   14620    128542      2305.777988         ETF
15  A245710   16765    471053      5148.156663         ETF
16  A102780    9920    394441      6347.204458         ETF
17  A214980  103005      3582     42687.660439         ETF
18  A157490   16525     78498      3050.773105         ETF
19  A148070  120630      3434      2155.472265         ETF
20  A153130  102735     12610      2908.473404         ETF
21  A266370   21355     37930      1974.682160         ETF
22  A114260   58070     12592      1515.867263         ETF
23  A195930   12425     15113       354.037860         ETF
24  A273130  109075     59550      1971.530233         ETF
25  A245340   17520     13537       385.760458         ETF
26  A329650   10980     37484       411.000000         ETF