In [10]:
import pandas as pd
from load_data import Balance, Instruments, AdvisedPortfolios, PriceDB, Singleton

In [ ]:
instruments_m = pd.read_pickle('../../data/processed/instruments_m.pkl')
price_db = pd.read_pickle('../../data/external/price_db_d.pkl')
advised_pf = pd.read_pickle('../../data/processed/advised_portfolios.pkl')

In [63]:
userid = 'A00'
username = '투자자0'
current_date = '2021-02-01'
risk_profile = 2

# c_date: 추천 포트폴리오DB에서 사용자가 입력한 날짜와 가장 가까운 날짜.
c_date = advised_pf.loc[advised_pf.date <= current_date, ['date']].max().date
new_units = {'A122260': 2, 'A114260': 4, 'A130730': 2, 'A329650': 13, 'A266370': 4}
prices = {'A122260': [101185.0, 'KRW'], 'A114260': [57900.0, 'KRW'], 'A130730': [100975.0, 'KRW'], 'A329650': [10980.0, 'KRW'], 'A266370': [21325.0, 'KRW']}

In [64]:
df = advised_pf.loc[(advised_pf.date==c_date) & (advised_pf.risk_profile==risk_profile), :]

In [65]:
df

,date,risk_profile,itemcode,weights,tracking_code,itemname,price,volume,trading_amt_mln,asset_class
12174,2021-02-01,2,A114260,0.240000,KTB_D3,KODEX 국고채3년,58100.0,7137.0,648.435560,Fixed Income
12175,2021-02-01,2,A130730,0.240000,MM,KOSEF 단기자금,100890.0,1013585.0,60055.857207,Fixed Income
12176,2021-02-01,2,A122260,0.203163,BOK_D1,KOSEF 통안채1년,101090.0,1442.0,60489.601355,Fixed Income
12177,2021-02-01,2,A148070,0.120166,KTB_D8,KOSEF 국고채10년,122065.0,6046.0,1022.453052,Fixed Income
12178,2021-02-01,2,A069500,0.100000,K200,KODEX 200,42150.0,10696458.0,395458.535771,Equity
12179,2021-02-01,2,A196230,0.076670,BOK_D.4,KBSTAR 단기통안채,104250.0,611456.0,75118.014671,Fixed Income
12180,2021-02-01,2,A237370,0.020000,BAL_KO3KTB7,KODEX 배당성장채권혼합,11760.0,5493.0,85.176105,Alternative

In [66]:
advised_pf.loc[(advised_pf.date==c_date) & (advised_pf.risk_profile==3), :]

,date,risk_profile,itemcode,weights,tracking_code,itemname,price,volume,trading_amt_mln,asset_class
12181,2021-02-01,3,A114260,0.240000,KTB_D3,KODEX 국고채3년,58100.0,7137.0,648.435560,Fixed Income
12182,2021-02-01,3,A148070,0.240000,KTB_D8,KOSEF 국고채10년,122065.0,6046.0,1022.453052,Fixed Income
12183,2021-02-01,3,A069500,0.240000,K200,KODEX 200,42150.0,10696458.0,395458.535771,Equity
12184,2021-02-01,3,A122260,0.087403,BOK_D1,KOSEF 통안채1년,101090.0,1442.0,60489.601355,Fixed Income
12185,2021-02-01,3,A283580,0.084000,CSI300,KODEX 중국본토CSI300,14830.0,92102.0,1101.740967,Equity
12186,2021-02-01,3,A251350,0.060931,MSCI_WO,KODEX 선진국MSCI World,16560.0,312065.0,1581.841244,Equity
12187,2021-02-01,3,A237370,0.020000,BAL_KO3KTB7,KODEX 배당성장채권혼합,11760.0,5493.0,85.176105,Alternative
12188,2021-02-01,3,A278540,0.015069,MSCI_KR,KODEX MSCI Korea TR,13645.0,365536.0,15383.999563,Equity
12189,2021-02-01,3,A273130,0.012597,ACT_BOND_D4,KODEX 종합채권(AA-이상)액티브,109700.0,18548.0,2071.203133,Fixed Income

In [55]:
new_units.keys()

dict_keys(['A122260', 'A114260', 'A130730', 'A329650', 'A266370'])

In [56]:
prices.keys()

dict_keys(['A122260', 'A114260', 'A130730', 'A329650', 'A266370'])

In [59]:
for itemcode, quantity in new_units.items():
    value = prices[itemcode]
    print(itemcode, quantity, )

A122260 2
A114260 4
A130730 2
A329650 13
A266370 4

In [58]:
pd.DataFrame.from_records((new_units, prices))

,A122260,A114260,A130730,A329650,A266370
0,2,4,2,13,4
1,"[101185.0, KRW]","[57900.0, KRW]","[100975.0, KRW]","[10980.0, KRW]","[21325.0, KRW]"

In [62]:
11 // 2

5