In [121]:
import pandas as pd
from load_data import Balance, Instruments, AdvisedPortfolios, PriceDB, Singleton

In [122]:
instruments_m = pd.read_pickle('../../data/processed/instruments_m.pkl')
price_db = pd.read_pickle('../../data/external/price_db_d.pkl')
advised_pf = pd.read_pickle('../../data/processed/advised_portfolios.pkl')

In [123]:
userid = 'A00'
username = '투자자0'
current_date = '2021-02-01'
risk_profile = 2

# c_date: 추천 포트폴리오DB에서 사용자가 입력한 날짜와 가장 가까운 날짜.
c_date = advised_pf.loc[advised_pf.date <= current_date, ['date']].max().date
new_units = {'A122260': 2, 'A114260': 4, 'A130730': 2, 'A329650': 13, 'A266370': 4}
prices = {'A122260': [101185.0, 'KRW'], 'A114260': [57900.0, 'KRW'], 'A130730': [100975.0, 'KRW'], 'A329650': [10980.0, 'KRW'], 'A266370': [21325.0, 'KRW']}

In [124]:
df = advised_pf.loc[(advised_pf.date==c_date) & (advised_pf.risk_profile==risk_profile), :]

In [134]:
# 보유수량
detail = pd.DataFrame.from_dict(new_units, orient='index').rename(columns={0:'quantity'})
detail.index.name='itemcode'

# 매입가격
temp = pd.DataFrame.from_dict(prices, orient='index').rename(columns={0:'cost_price'}).drop([1], axis=1)
temp.index.name='itemcode'

# 병합
detail = detail.merge(temp, left_index=True, right_index=True, how='inner')

detail['cost_value'] = detail['quantity']*detail['cost_price']

In [136]:
detail

          quantity  cost_price  cost_vallue
itemcode
A122260          2    101185.0     202370.0
A114260          4     57900.0     231600.0
A130730          2    100975.0     201950.0
A329650         13     10980.0     142740.0
A266370          4     21325.0      85300.0

In [90]:
[price[0] for price in prices.values()]

[101185.0, 57900.0, 100975.0, 10980.0, 21325.0]

In [92]:
pd.DataFrame.from_dict(prices, orient='index')

                0    1
A122260  101185.0  KRW
A114260   57900.0  KRW
A130730  100975.0  KRW
A329650   10980.0  KRW
A266370   21325.0  KRW