In [6]:
import pandas as pd

In [31]:
access_path = '../../data/processed/'
bal_file = 'bal_btw_rebal.dat'
# bal_file = 'balance_rebaldate_0801_all.dat'

#### 매일의 잔고(detail 테이블) INSERT

In [32]:
df_bal = pd.read_csv(access_path+bal_file, parse_dates=['date'])

In [33]:
df_bal

,date,itemcode,userid,name,asset_class,itemname,quantity,cost_price,cost_value,price,value,wt,group_by,original
0,2021-07-03,A114260,A001,안정추구형소규모,Fixed Income,KODEX 국고채3년,2.0,57845.0,115690.0,57790.0,115580.0,0.162089,NaN,NaN
1,2021-07-03,A122260,A001,안정추구형소규모,Fixed Income,KOSEF 통안채1년,1.0,101120.0,101120.0,101115.0,101115.0,0.141804,NaN,NaN
2,2021-07-03,A130730,A001,안정추구형소규모,Fixed Income,KOSEF 단기자금,2.0,101060.0,202120.0,101060.0,202120.0,0.283453,NaN,NaN
3,2021-07-03,A196230,A001,안정추구형소규모,Fixed Income,KBSTAR 단기통안채,1.0,104430.0,104430.0,104435.0,104435.0,0.146460,NaN,NaN
4,2021-07-03,A273130,A001,안정추구형소규모,Fixed Income,KODEX 종합채권(AA-이상)액티브,1.0,108635.0,108635.0,108665.0,108665.0,0.152392,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083,2021-07-31,A157490,A009,적극투자형대규모,Equity,TIGER 소프트웨어,17.0,19565.0,332605.0,19150.0,325550.0,0.241752,NaN,NaN
2084,2021-07-31,A266370,A009,적극투자형대규모,Equity,KODEX IT,9.0,21175.0,190575.0,20860.0,187740.0,0.139415,NaN,NaN
2085,2021-07-31,A069500,A009,적극투자형대규모,Equity,KODEX 200,3.0,43640.0,130920.0,42485.0,127455.0,0.094647,NaN,NaN
2086,2021-07-31,A114260,A009,적극투자형대규모,Fixed Income,KODEX 국고채3년,1.0,57845.0,57845.0,58030.0,58030.0,0.043093,NaN,NaN
2087,2021-07-31,C000001,A009,적극투자형대규모,Cash,현금,6715.0,1.0,6715.0,1.0,6715.0,0.004987,NaN,NaN

In [34]:
# df_bal.date = df_bal['date'].dt.strftime('%#m/%#d/%Y 4:%M:%S PM')
df_bal.date = df_bal['date'].dt.strftime('%-m/%-d/%Y 4:%M:%S PM')

In [35]:
df_bal

,date,itemcode,userid,name,asset_class,itemname,quantity,cost_price,cost_value,price,value,wt,group_by,original
0,7/3/2021 4:00:00 PM,A114260,A001,안정추구형소규모,Fixed Income,KODEX 국고채3년,2.0,57845.0,115690.0,57790.0,115580.0,0.162089,NaN,NaN
1,7/3/2021 4:00:00 PM,A122260,A001,안정추구형소규모,Fixed Income,KOSEF 통안채1년,1.0,101120.0,101120.0,101115.0,101115.0,0.141804,NaN,NaN
2,7/3/2021 4:00:00 PM,A130730,A001,안정추구형소규모,Fixed Income,KOSEF 단기자금,2.0,101060.0,202120.0,101060.0,202120.0,0.283453,NaN,NaN
3,7/3/2021 4:00:00 PM,A196230,A001,안정추구형소규모,Fixed Income,KBSTAR 단기통안채,1.0,104430.0,104430.0,104435.0,104435.0,0.146460,NaN,NaN
4,7/3/2021 4:00:00 PM,A273130,A001,안정추구형소규모,Fixed Income,KODEX 종합채권(AA-이상)액티브,1.0,108635.0,108635.0,108665.0,108665.0,0.152392,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083,7/31/2021 4:00:00 PM,A157490,A009,적극투자형대규모,Equity,TIGER 소프트웨어,17.0,19565.0,332605.0,19150.0,325550.0,0.241752,NaN,NaN
2084,7/31/2021 4:00:00 PM,A266370,A009,적극투자형대규모,Equity,KODEX IT,9.0,21175.0,190575.0,20860.0,187740.0,0.139415,NaN,NaN
2085,7/31/2021 4:00:00 PM,A069500,A009,적극투자형대규모,Equity,KODEX 200,3.0,43640.0,130920.0,42485.0,127455.0,0.094647,NaN,NaN
2086,7/31/2021 4:00:00 PM,A114260,A009,적극투자형대규모,Fixed Income,KODEX 국고채3년,1.0,57845.0,57845.0,58030.0,58030.0,0.043093,NaN,NaN
2087,7/31/2021 4:00:00 PM,C000001,A009,적극투자형대규모,Cash,현금,6715.0,1.0,6715.0,1.0,6715.0,0.004987,NaN,NaN

In [36]:
from sqlalchemy import create_engine

# Defining our connection variables
username = 'kdyjpzwsyqrqpb' # replace with your username
password = '6b610da9417e361c2af3be1fd0c179061b5b258f0e6f7ff9e1da464ba221e46c' # replace with your password
ipaddress = 'ec2-35-174-35-242.compute-1.amazonaws.com' # change this to your db’s IP address is if not Panoply
port = 5432 # this is the standard port for Postgres, but change it to your port if needed
dbname = 'd2ke5vkurjkusr' # change this to...you guessed it...the name of your db

# A long string that contains the necessary Postgres login information
postgres_str = f'postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
          
# Create the connection
cnx = create_engine(postgres_str)

In [37]:
table_nm = 'detail'
df_bal.to_sql(table_nm, con=cnx, index=False, if_exists='append')

### 자산군별 비중(general 테이블) INSERT

In [38]:
df_bal = pd.read_csv(access_path+bal_file, parse_dates=['date'])

In [39]:
df_bal_gby = df_bal.loc[:, ['date', 'userid', 'value', 'asset_class']].sort_values(
    ['date', 'userid'],
    ascending=True).groupby(['date', 'userid', 'asset_class'
                             ]).sum().reset_index(drop=False)

In [40]:
df_bal_gby = df_bal_gby.assign(wt=df_bal_gby.groupby(['date', 'userid'])['value'].transform(lambda x: x/x.sum()))

In [41]:
# df_bal_gby.date = df_bal_gby['date'].dt.strftime('%#m/%#d/%Y 4:%M:%S PM')
df_bal_gby.date = df_bal_gby['date'].dt.strftime('%-m/%-d/%Y 4:%M:%S PM')

In [42]:
df_bal_gby

                      date userid   asset_class     value        wt
0      7/3/2021 4:00:00 PM   A001   Alternative   12100.0  0.016969
1      7/3/2021 4:00:00 PM   A001          Cash    6210.0  0.008709
2      7/3/2021 4:00:00 PM   A001        Equity   62839.0  0.088125
3      7/3/2021 4:00:00 PM   A001  Fixed Income  631915.0  0.886197
4      7/3/2021 4:00:00 PM   A002   Alternative   24200.0  0.024131
...                    ...    ...           ...       ...       ...
1039  7/31/2021 4:00:00 PM   A008  Fixed Income   58030.0  0.055946
1040  7/31/2021 4:00:00 PM   A009   Alternative  328455.0  0.243909
1041  7/31/2021 4:00:00 PM   A009          Cash    6715.0  0.004987
1042  7/31/2021 4:00:00 PM   A009        Equity  953430.0  0.708012
1043  7/31/2021 4:00:00 PM   A009  Fixed Income   58030.0  0.043093

[1044 rows x 5 columns]

In [43]:
table_nm = 'general'
df_bal_gby.to_sql(table_nm, con=cnx, index=False, if_exists='append')