In [4]:
import pandas as pd

In [5]:
access_path = '../../data/processed/'
filename = ['advised_portfolios.pkl', 'advised_portfolios-0506.pkl']
full_path = [access_path + file_nm for file_nm in filename]

In [6]:
ports = [pd.read_pickle(file) for file in full_path]

In [7]:
ports[0]

,date,risk_profile,itemcode,weights,tracking_code,itemname,price,volume,trading_amt_mln,asset_class
0,2019-01-02,2,A273130,0.240000,ACT_BOND_D4,KODEX 종합채권(AA-이상)액티브,104320.0,26468.0,858.104496,Fixed Income
1,2019-01-02,2,A214980,0.240000,MM_PLUS,KODEX 단기채권PLUS,100050.0,10160.0,508.874866,Fixed Income
2,2019-01-02,2,A196230,0.207716,BOK_D.4,KBSTAR 단기통안채,101423.0,393085.0,16568.430895,Fixed Income
3,2019-01-02,2,A114260,0.100000,KTB_D3,KODEX 국고채3년,55690.0,5449.0,251.127486,Fixed Income
4,2019-01-02,2,A122260,0.092284,BOK_D1,KOSEF 통안채1년,97761.0,42453.0,13238.397304,Fixed Income
...,...,...,...,...,...,...,...,...,...,...
19383,2021-04-30,4,A237370,0.240000,BAL_KO3KTB7,KODEX 배당성장채권혼합,12060.0,5299.0,123.076578,Alternative
19384,2021-04-30,4,A278540,0.240000,MSCI_KR,KODEX MSCI Korea TR,13695.0,471792.0,14353.562789,Equity
19385,2021-04-30,4,A266370,0.136000,IT,KODEX IT,20760.0,21069.0,1087.656470,Equity
19386,2021-04-30,4,A292150,0.084000,TOP10,TIGER TOP10,14305.0,547411.0,14890.029898,Equity
19387,2021-04-30,4,A114260,0.060000,KTB_D3,KODEX 국고채3년,58040.0,5351.0,938.070000,Fixed Income

In [8]:
ports[1]

,date,risk_profile,itemcode,weights,tracking_code,itemname,price,volume,trading_amt_mln,asset_class
0,2021-05-01,2,A114260,0.240000,KTB_D3,KODEX 국고채3년,NaN,NaN,NaN,Fixed Income
1,2021-05-01,2,A122260,0.240000,BOK_D1,KOSEF 통안채1년,NaN,NaN,NaN,Fixed Income
2,2021-05-01,2,A130730,0.240000,MM,KOSEF 단기자금,NaN,NaN,NaN,Fixed Income
3,2021-05-01,2,A196230,0.093109,BOK_D.4,KBSTAR 단기통안채,NaN,NaN,NaN,Fixed Income
4,2021-05-01,2,A273130,0.066891,ACT_BOND_D4,KODEX 종합채권(AA-이상)액티브,NaN,NaN,NaN,Fixed Income
...,...,...,...,...,...,...,...,...,...,...
121,2021-05-06,4,A157490,0.240000,SW,TIGER 소프트웨어,NaN,NaN,NaN,Equity
122,2021-05-06,4,A278540,0.240000,MSCI_KR,KODEX MSCI Korea TR,NaN,NaN,NaN,Equity
123,2021-05-06,4,A266370,0.136000,IT,KODEX IT,NaN,NaN,NaN,Equity
124,2021-05-06,4,A069500,0.084000,K200,KODEX 200,NaN,NaN,NaN,Equity
125,2021-05-06,4,A114260,0.060000,KTB_D3,KODEX 국고채3년,NaN,NaN,NaN,Fixed Income

In [9]:
df = pd.concat(ports, axis=0)
df = df.reset_index(drop=True)

In [10]:
df

,date,risk_profile,itemcode,weights,tracking_code,itemname,price,volume,trading_amt_mln,asset_class
0,2019-01-02,2,A273130,0.240000,ACT_BOND_D4,KODEX 종합채권(AA-이상)액티브,104320.0,26468.0,858.104496,Fixed Income
1,2019-01-02,2,A214980,0.240000,MM_PLUS,KODEX 단기채권PLUS,100050.0,10160.0,508.874866,Fixed Income
2,2019-01-02,2,A196230,0.207716,BOK_D.4,KBSTAR 단기통안채,101423.0,393085.0,16568.430895,Fixed Income
3,2019-01-02,2,A114260,0.100000,KTB_D3,KODEX 국고채3년,55690.0,5449.0,251.127486,Fixed Income
4,2019-01-02,2,A122260,0.092284,BOK_D1,KOSEF 통안채1년,97761.0,42453.0,13238.397304,Fixed Income
...,...,...,...,...,...,...,...,...,...,...
19509,2021-05-06,4,A157490,0.240000,SW,TIGER 소프트웨어,NaN,NaN,NaN,Equity
19510,2021-05-06,4,A278540,0.240000,MSCI_KR,KODEX MSCI Korea TR,NaN,NaN,NaN,Equity
19511,2021-05-06,4,A266370,0.136000,IT,KODEX IT,NaN,NaN,NaN,Equity
19512,2021-05-06,4,A069500,0.084000,K200,KODEX 200,NaN,NaN,NaN,Equity
19513,2021-05-06,4,A114260,0.060000,KTB_D3,KODEX 국고채3년,NaN,NaN,NaN,Fixed Income

In [11]:
df.to_pickle(access_path + 'advised_portfolios.pkl')

In [12]:
import datetime
# BDay is business day, not birthday...
from pandas.tseries.offsets import BDay

today = datetime.datetime.today()
print(today - BDay(1))

2021-05-06 12:34:46.928432