In [20]:
import pandas as pd

In [21]:
access_path = '../../data/processed/'
filename = ['advised_portfolios-old.pkl', 'advised_portfolios-0423.pkl']
full_path = [access_path + file_nm for file_nm in filename]

In [22]:
ports = [pd.read_pickle(file) for file in full_path]

In [23]:
ports[0]

,date,risk_profile,itemcode,weights,tracking_code,itemname,price,volume,trading_amt_mln,asset_class
0,2019-01-02,2,A273130,0.240000,ACT_BOND_D4,KODEX 종합채권(AA-이상)액티브,104320.0,26468.0,858.104496,Fixed Income
1,2019-01-02,2,A214980,0.240000,MM_PLUS,KODEX 단기채권PLUS,100050.0,10160.0,508.874866,Fixed Income
2,2019-01-02,2,A196230,0.207716,BOK_D.4,KBSTAR 단기통안채,101423.0,393085.0,16568.430895,Fixed Income
3,2019-01-02,2,A114260,0.100000,KTB_D3,KODEX 국고채3년,55690.0,5449.0,251.127486,Fixed Income
4,2019-01-02,2,A122260,0.092284,BOK_D1,KOSEF 통안채1년,97761.0,42453.0,13238.397304,Fixed Income
...,...,...,...,...,...,...,...,...,...,...
18465,2021-03-19,4,A237370,0.240000,BAL_KO3KTB7,KODEX 배당성장채권혼합,11750.0,9292.0,105.542692,Alternative
18466,2021-03-19,4,A157490,0.240000,SW,TIGER 소프트웨어,17000.0,188055.0,2484.755538,Equity
18467,2021-03-19,4,A266370,0.136000,IT,KODEX IT,21325.0,14939.0,1150.537477,Equity
18468,2021-03-19,4,A069500,0.084000,K200,KODEX 200,41855.0,9277711.0,421471.700934,Equity
18469,2021-03-19,4,A114260,0.060000,KTB_D3,KODEX 국고채3년,57900.0,1893.0,825.848869,Fixed Income

In [25]:
ports[1]

,date,risk_profile,itemcode,weights,tracking_code,itemname,price,volume,trading_amt_mln,asset_class
0,2021-03-20,2,A114260,0.240000,KTB_D3,KODEX 국고채3년,57900.0,1893.0,825.848869,Fixed Income
1,2021-03-20,2,A122260,0.240000,BOK_D1,KOSEF 통안채1년,101185.0,137782.0,47097.865417,Fixed Income
2,2021-03-20,2,A130730,0.240000,MM,KOSEF 단기자금,100975.0,490574.0,64342.722020,Fixed Income
3,2021-03-20,2,A196230,0.090394,BOK_D.4,KBSTAR 단기통안채,104340.0,180070.0,56905.971755,Fixed Income
4,2021-03-20,2,A273130,0.069606,ACT_BOND_D4,KODEX 종합채권(AA-이상)액티브,108565.0,3011.0,2012.456380,Fixed Income
...,...,...,...,...,...,...,...,...,...,...
800,2021-04-23,4,A237370,0.240000,BAL_KO3KTB7,KODEX 배당성장채권혼합,12075.0,5907.0,123.185854,Alternative
801,2021-04-23,4,A278540,0.240000,MSCI_KR,KODEX MSCI Korea TR,13850.0,347864.0,17229.396712,Equity
802,2021-04-23,4,A266370,0.136000,IT,KODEX IT,21690.0,11720.0,1123.962539,Equity
803,2021-04-23,4,A292150,0.084000,TOP10,TIGER TOP10,14865.0,489826.0,15238.407768,Equity
804,2021-04-23,4,A114260,0.060000,KTB_D3,KODEX 국고채3년,58095.0,3486.0,933.361781,Fixed Income

In [26]:
df = pd.concat(ports, axis=0)
df = df.reset_index(drop=True)

In [27]:
df

,date,risk_profile,itemcode,weights,tracking_code,itemname,price,volume,trading_amt_mln,asset_class
0,2019-01-02,2,A273130,0.240000,ACT_BOND_D4,KODEX 종합채권(AA-이상)액티브,104320.0,26468.0,858.104496,Fixed Income
1,2019-01-02,2,A214980,0.240000,MM_PLUS,KODEX 단기채권PLUS,100050.0,10160.0,508.874866,Fixed Income
2,2019-01-02,2,A196230,0.207716,BOK_D.4,KBSTAR 단기통안채,101423.0,393085.0,16568.430895,Fixed Income
3,2019-01-02,2,A114260,0.100000,KTB_D3,KODEX 국고채3년,55690.0,5449.0,251.127486,Fixed Income
4,2019-01-02,2,A122260,0.092284,BOK_D1,KOSEF 통안채1년,97761.0,42453.0,13238.397304,Fixed Income
...,...,...,...,...,...,...,...,...,...,...
19270,2021-04-23,4,A237370,0.240000,BAL_KO3KTB7,KODEX 배당성장채권혼합,12075.0,5907.0,123.185854,Alternative
19271,2021-04-23,4,A278540,0.240000,MSCI_KR,KODEX MSCI Korea TR,13850.0,347864.0,17229.396712,Equity
19272,2021-04-23,4,A266370,0.136000,IT,KODEX IT,21690.0,11720.0,1123.962539,Equity
19273,2021-04-23,4,A292150,0.084000,TOP10,TIGER TOP10,14865.0,489826.0,15238.407768,Equity
19274,2021-04-23,4,A114260,0.060000,KTB_D3,KODEX 국고채3년,58095.0,3486.0,933.361781,Fixed Income

In [28]:
df.to_pickle(access_path + 'advised_portfolios.pkl')

In [31]:
import datetime
# BDay is business day, not birthday...
from pandas.tseries.offsets import BDay

today = datetime.datetime.today()
print(today - BDay(1))

2021-04-26 18:13:26.742787