In [1]:
import pandas as pd

In [2]:
access_path = '../../data/processed/'
filename = ['advised_portfolios.pkl', 'advised_portfolios-0430.pkl']
full_path = [access_path + file_nm for file_nm in filename]

In [3]:
ports = [pd.read_pickle(file) for file in full_path]

In [4]:
ports[0]

,date,risk_profile,itemcode,weights,tracking_code,itemname,price,volume,trading_amt_mln,asset_class
0,2019-01-02,2,A273130,0.240000,ACT_BOND_D4,KODEX 종합채권(AA-이상)액티브,104320.0,26468.0,858.104496,Fixed Income
1,2019-01-02,2,A214980,0.240000,MM_PLUS,KODEX 단기채권PLUS,100050.0,10160.0,508.874866,Fixed Income
2,2019-01-02,2,A196230,0.207716,BOK_D.4,KBSTAR 단기통안채,101423.0,393085.0,16568.430895,Fixed Income
3,2019-01-02,2,A114260,0.100000,KTB_D3,KODEX 국고채3년,55690.0,5449.0,251.127486,Fixed Income
4,2019-01-02,2,A122260,0.092284,BOK_D1,KOSEF 통안채1년,97761.0,42453.0,13238.397304,Fixed Income
...,...,...,...,...,...,...,...,...,...,...
19314,2021-04-27,4,A237370,0.240000,BAL_KO3KTB7,KODEX 배당성장채권혼합,12120.0,6424.0,123.481189,Alternative
19315,2021-04-27,4,A278540,0.240000,MSCI_KR,KODEX MSCI Korea TR,13980.0,320774.0,16041.347167,Equity
19316,2021-04-27,4,A266370,0.136000,IT,KODEX IT,21835.0,18570.0,1113.118976,Equity
19317,2021-04-27,4,A292150,0.084000,TOP10,TIGER TOP10,14880.0,244322.0,15103.241318,Equity
19318,2021-04-27,4,A114260,0.060000,KTB_D3,KODEX 국고채3년,58075.0,3413.0,930.084639,Fixed Income

In [5]:
ports[1]

,date,risk_profile,itemcode,weights,tracking_code,itemname,price,volume,trading_amt_mln,asset_class
0,2021-04-28,2,A114260,0.240000,KTB_D3,KODEX 국고채3년,58050.0,823.0,929.419232,Fixed Income
1,2021-04-28,2,A122260,0.240000,BOK_D1,KOSEF 통안채1년,101295.0,56575.0,37144.174257,Fixed Income
2,2021-04-28,2,A130730,0.240000,MM,KOSEF 단기자금,101070.0,687639.0,71669.044273,Fixed Income
3,2021-04-28,2,A196230,0.127217,BOK_D.4,KBSTAR 단기통안채,104420.0,235752.0,57904.116779,Fixed Income
4,2021-04-28,2,A069500,0.044229,K200,KODEX 200,42735.0,3886549.0,377331.188102,Equity
...,...,...,...,...,...,...,...,...,...,...
64,2021-04-30,4,A237370,0.240000,BAL_KO3KTB7,KODEX 배당성장채권혼합,12060.0,5299.0,123.076578,Alternative
65,2021-04-30,4,A278540,0.240000,MSCI_KR,KODEX MSCI Korea TR,13695.0,471792.0,14353.562789,Equity
66,2021-04-30,4,A266370,0.136000,IT,KODEX IT,20760.0,21069.0,1087.656470,Equity
67,2021-04-30,4,A292150,0.084000,TOP10,TIGER TOP10,14305.0,547411.0,14890.029898,Equity
68,2021-04-30,4,A114260,0.060000,KTB_D3,KODEX 국고채3년,58040.0,5351.0,938.070000,Fixed Income

In [6]:
df = pd.concat(ports, axis=0)
df = df.reset_index(drop=True)

In [7]:
df

,date,risk_profile,itemcode,weights,tracking_code,itemname,price,volume,trading_amt_mln,asset_class
0,2019-01-02,2,A273130,0.240000,ACT_BOND_D4,KODEX 종합채권(AA-이상)액티브,104320.0,26468.0,858.104496,Fixed Income
1,2019-01-02,2,A214980,0.240000,MM_PLUS,KODEX 단기채권PLUS,100050.0,10160.0,508.874866,Fixed Income
2,2019-01-02,2,A196230,0.207716,BOK_D.4,KBSTAR 단기통안채,101423.0,393085.0,16568.430895,Fixed Income
3,2019-01-02,2,A114260,0.100000,KTB_D3,KODEX 국고채3년,55690.0,5449.0,251.127486,Fixed Income
4,2019-01-02,2,A122260,0.092284,BOK_D1,KOSEF 통안채1년,97761.0,42453.0,13238.397304,Fixed Income
...,...,...,...,...,...,...,...,...,...,...
19383,2021-04-30,4,A237370,0.240000,BAL_KO3KTB7,KODEX 배당성장채권혼합,12060.0,5299.0,123.076578,Alternative
19384,2021-04-30,4,A278540,0.240000,MSCI_KR,KODEX MSCI Korea TR,13695.0,471792.0,14353.562789,Equity
19385,2021-04-30,4,A266370,0.136000,IT,KODEX IT,20760.0,21069.0,1087.656470,Equity
19386,2021-04-30,4,A292150,0.084000,TOP10,TIGER TOP10,14305.0,547411.0,14890.029898,Equity
19387,2021-04-30,4,A114260,0.060000,KTB_D3,KODEX 국고채3년,58040.0,5351.0,938.070000,Fixed Income

In [8]:
df.to_pickle(access_path + 'advised_portfolios.pkl')

In [9]:
import datetime
# BDay is business day, not birthday...
from pandas.tseries.offsets import BDay

today = datetime.datetime.today()
print(today - BDay(1))

2021-04-30 08:16:40.659139