In [40]:
import pandas as pd
from datetime import datetime

In [46]:
csv_file0601 = '../../data/processed/advised_portfolios-0601.dat'
df = pd.read_csv(csv_file0601, parse_dates=['date'])

In [55]:
df.date = df.date.dt.strftime('%Y-%m-%d')

In [59]:
df.to_pickle('../../data/processed/advised_portfolios-0601_new.pkl')

In [60]:
access_path = '../../data/processed/'
filename = ['advised_portfolios-start-to-20210506.pkl', 'advised_portfolios-0601_new.pkl']
full_path = [access_path + file_nm for file_nm in filename]

In [61]:
ports = [pd.read_pickle(file) for file in full_path]

In [62]:
ports[0]

,date,risk_profile,itemcode,weights,tracking_code,itemname,price,volume,trading_amt_mln,asset_class
0,2019-01-02,2,A273130,0.240000,ACT_BOND_D4,KODEX 종합채권(AA-이상)액티브,104320.0,26468.0,858.104496,Fixed Income
1,2019-01-02,2,A214980,0.240000,MM_PLUS,KODEX 단기채권PLUS,100050.0,10160.0,508.874866,Fixed Income
2,2019-01-02,2,A196230,0.207716,BOK_D.4,KBSTAR 단기통안채,101423.0,393085.0,16568.430895,Fixed Income
3,2019-01-02,2,A114260,0.100000,KTB_D3,KODEX 국고채3년,55690.0,5449.0,251.127486,Fixed Income
4,2019-01-02,2,A122260,0.092284,BOK_D1,KOSEF 통안채1년,97761.0,42453.0,13238.397304,Fixed Income
...,...,...,...,...,...,...,...,...,...,...
19509,2021-05-06,4,A278540,0.240000,MSCI_KR,KODEX MSCI Korea TR,13810.0,401336.0,14336.127555,Equity
19510,2021-05-06,4,A157490,0.240000,SW,TIGER 소프트웨어,16670.0,104451.0,2637.322487,Equity
19511,2021-05-06,4,A266370,0.136000,IT,KODEX IT,20525.0,14105.0,1070.447295,Equity
19512,2021-05-06,4,A069500,0.084000,K200,KODEX 200,42630.0,4079571.0,368064.948968,Equity
19513,2021-05-06,4,A114260,0.060000,KTB_D3,KODEX 국고채3년,58060.0,2238.0,943.544023,Fixed Income

In [66]:
ports[1]

,date,risk_profile,itemcode,weights,tracking_code,itemname,price,volume,trading_amt_mln,asset_class
0,2021-05-07,2,A114260,0.240000,KTB_D3,KODEX 국고채3년,58055,11739,935.482379,Fixed Income
1,2021-05-07,2,A122260,0.240000,BOK_D1,KOSEF 통안채1년,101330,658165,37510.592314,Fixed Income
2,2021-05-07,2,A130730,0.240000,MM,KOSEF 단기자금,101100,176641,68231.636524,Fixed Income
3,2021-05-07,2,A196230,0.083929,BOK_D.4,KBSTAR 단기통안채,104445,936288,53069.439176,Fixed Income
4,2021-05-07,2,A273130,0.076071,ACT_BOND_D4,KODEX 종합채권(AA-이상)액티브,108590,22802,1945.100057,Fixed Income
...,...,...,...,...,...,...,...,...,...,...
543,2021-06-01,4,A157490,0.240000,SW,TIGER 소프트웨어,17690,148623,2490.713941,Equity
544,2021-06-01,4,A278540,0.240000,MSCI_KR,KODEX MSCI Korea TR,13735,280278,9454.867980,Equity
545,2021-06-01,4,A266370,0.136000,IT,KODEX IT,20325,10876,799.389367,Equity
546,2021-06-01,4,A292150,0.084000,TOP10,TIGER TOP10,14360,328759,4720.979240,Equity
547,2021-06-01,4,A114260,0.060000,KTB_D3,KODEX 국고채3년,57990,2678,790.152822,Fixed Income

In [67]:
df = pd.concat(ports, axis=0)
df = df.reset_index(drop=True)

In [68]:
df

,date,risk_profile,itemcode,weights,tracking_code,itemname,price,volume,trading_amt_mln,asset_class
0,2019-01-02,2,A273130,0.240000,ACT_BOND_D4,KODEX 종합채권(AA-이상)액티브,104320.0,26468.0,858.104496,Fixed Income
1,2019-01-02,2,A214980,0.240000,MM_PLUS,KODEX 단기채권PLUS,100050.0,10160.0,508.874866,Fixed Income
2,2019-01-02,2,A196230,0.207716,BOK_D.4,KBSTAR 단기통안채,101423.0,393085.0,16568.430895,Fixed Income
3,2019-01-02,2,A114260,0.100000,KTB_D3,KODEX 국고채3년,55690.0,5449.0,251.127486,Fixed Income
4,2019-01-02,2,A122260,0.092284,BOK_D1,KOSEF 통안채1년,97761.0,42453.0,13238.397304,Fixed Income
...,...,...,...,...,...,...,...,...,...,...
20057,2021-06-01,4,A157490,0.240000,SW,TIGER 소프트웨어,17690.0,148623.0,2490.713941,Equity
20058,2021-06-01,4,A278540,0.240000,MSCI_KR,KODEX MSCI Korea TR,13735.0,280278.0,9454.867980,Equity
20059,2021-06-01,4,A266370,0.136000,IT,KODEX IT,20325.0,10876.0,799.389367,Equity
20060,2021-06-01,4,A292150,0.084000,TOP10,TIGER TOP10,14360.0,328759.0,4720.979240,Equity
20061,2021-06-01,4,A114260,0.060000,KTB_D3,KODEX 국고채3년,57990.0,2678.0,790.152822,Fixed Income

In [69]:
df.to_pickle(access_path + 'advised_portfolios.pkl')

In [9]:
import datetime
# BDay is business day, not birthday...
from pandas.tseries.offsets import BDay

today = datetime.datetime.today()
print(today - BDay(1))

2021-05-31 18:35:34.740596